<div class="container">
    <table class="table table-hover">
        <tr>
            <td width="70px">
                <a href="{{ url_for('user', username=search.author.username) }}">
                    <img src="{{ search.author.avatar(70) }}" />
                </a>
            </td>
            <td>
                <a href="{{ url_for('user', username=search.author.username) }}">
                    {{ search.author.username }}
                </a> searched {{ moment(search.timestamp).fromNow() }}:
                <br> "{{ search.keyword }}" with a {{ search.limit }} tweet limit
            </td>
        </tr>
    </table>
</div>